[*.cs]

# S3903: Types should be defined in named namespaces
dotnet_diagnostic.S3903.severity = none

# S2325: Methods and properties that don't access instance data should be static
dotnet_diagnostic.S2325.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none
